//
//  This file contains Good Sample Code subject to the Good Dynamics SDK Terms and Conditions.
//  (c) 2016 Good Technology Corporation. All rights reserved.
//
#include "Pods/Target Support Files/Pods-RSSReaderSwift/Pods-RSSReaderSwift.release.xcconfig"
FIPS_PACKAGE=$(CURRENT_ARCH).sdk
LDPLUSPLUS=${PODS_ROOT}/GD/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld
LD=${PODS_ROOT}/GD/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld
ENABLE_BITCODE=NO
ENTITLEMENTS_REQUIRED=YES
CODE_SIGN_ENTITLEMENTS[sdk=iphonesimulator10.*]=$(SRCROOT)/RSSReaderSwift/Supporting Files/Entitlements.plist
